@CHARSET "ISO-8859-1";
table {
	border-collapse: collapse;
	border-style: solid;
	border-width: 1px;
}

td {
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px;	
}

article.story {
  background-color: palegreen;	
}

div.form {
	background-color: green;
}
div.clear {
	clear: left;
}
/*** 
***  Two column layout 
***/

div.row-2col {
	border: 5px solid olivedrab;
}

/* col 1 label */

div.row-2col div.labl-1 {
	float: left;
	width: 100px;
	padding: 5px;
	background-color: indigo;
	color: white;
}

div.row-2col div.data-1 {
	float: left;
	width: 150px;
  padding: 5px;
	background-color: #f5e6ff;
}

div.row-2col div.labl-2 {
	float: right;
	width: 100px;
  padding: 5px;
  background-color: indigo;
  color: white;
}

div.row-2col div.data-2 {
	float: right;
	width: 150px;
	padding: 5px;
  background-color: #f5e6ff;
}